@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


.CreatingCard {
    margin : 0 auto;
}

.CreatingBox {
    box-shadow: 1px 1px 10px 13px rgb(241, 241, 241);
    height: 60rem;
}

.title {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 25px;
}

.title-input {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 35px;
    border: 0px;
}

.time {
    font-family: 'Nanum Myeongjo', serif;
    text-align: left;
}

.adding-files {
    text-align: right;
}

