@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');



.QuestionCard {
    margin : 0 auto;
}

.QuestionBox {
    box-shadow: 3px 3px 11px 7px rgb(200, 200, 200);
}

.title {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
}

