.tab {
    width: 1000px;
    border: 0;
    border-radius: 5px;
    background-color: #FFF8E1;
    padding: 50px;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.font {
    color: rgb(188, 144, 0);
    font-size: 20px;
    font-weight: bolder;
  }